version: "3.8"
services:
  # имя сервера mysql
  mysql:
    image: mariadb:10.8.3
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    # пароль входа на сервер:  root
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3308:3306

  adminer:
      image: adminer
      restart: always
      ports:
        - 8080:8080
