{% block body %}
<section id="middle-block">
    <div class="container-fluid">
        <div class="row mx-auto text-center">
            <div class="col-lg-6 col-md-6">
                <img class="image-sections " src="../public/images/MainPageIMG/брендирование-авто.jpg" alt="">
                <h5><a class="links-sections" href="">Брендирование легковых и Грузовых Авто</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/вывески.jpg" alt="">
                <h5><a class="links-sections" href="">Вывески</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/Полиграфия.jpg" alt="">
                <h5><a class="links-sections" href="">Полиграфия</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/бегущие-строки.jpg" alt="">
                <h5><a class="links-sections" href="">Бегущие строки</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/Широкоформатная-печать.jpg" alt="">
                <h5><a class="links-sections" href="">Широкоформатная печать</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/Ремонт-бегущих-строк.png" alt="">
                <h5><a class="links-sections" href="">Ремонт бегущих строк</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/фреймлайты.jpg" alt="">
                <h5><a class="links-sections" href="">Фреймлайты</a></h5>
            </div>
            <div class="col-lg-6 col-md-6 two-sections">
                <img class="image-sections " src="../public/images/MainPageIMG/плотерная-резка.jpg" alt="">
                <h5><a class="links-sections" href="">Плотерная резка</a></h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}